<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:name=".LittleOrbitApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Little Orbit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleOrbit">
        <service
            android:name=".ForegroundLocationService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <receiver
            android:name=".UpdateInstallReceiver"
            android:exported="false" />
        <receiver
            android:name=".CountdownClockReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".PrivacyActivity" android:exported="false" />
        <activity android:name=".ProfilePhotoActivity" android:exported="false" />
        <activity android:name=".ProfileCropActivity" android:exported="false" />
        <activity android:name="com.canhub.cropper.CropImageActivity" tools:node="remove" />
        <activity android:name=".WearInstallerActivity" android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="lil-orb.pax-kun.com" android:pathPrefix="/app/install-wear" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceSetupActivity" android:exported="false" />
        <activity android:name=".ArchivesActivity" android:exported="false" />
        <activity android:name=".TogetherTimeActivity" android:exported="false" />
        <activity android:name=".SmoochActivity" android:exported="false" />
        <activity android:name=".NotesActivity" android:exported="false" />
        <activity android:name=".CountdownActivity" android:exported="false" />
        <activity android:name=".QuizActivity" android:exported="false" />
        <activity android:name=".QuizHistoryActivity" android:exported="false" />
        <activity android:name=".CustomQuestionActivity" android:exported="false" />
        <activity android:name=".PairingActivity" android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="lil-orb.pax-kun.com" android:pathPrefix="/app/sign-in" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
