<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:name=".LittleOrbitApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Little Orbit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleOrbit">
        <receiver
            android:name=".UpdateInstallReceiver"
            android:exported="false" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
        <activity android:name=".PrivacyActivity" android:exported="false" />
        <activity android:name=".DeviceSetupActivity" android:exported="false" />
        <activity android:name=".ArchivesActivity" android:exported="false" />
        <activity android:name=".TogetherTimeActivity" android:exported="false" />
        <activity android:name=".NotesActivity" android:exported="false" />
        <activity android:name=".CountdownActivity" android:exported="false" />
        <activity android:name=".QuizActivity" android:exported="false" />
        <activity android:name=".QuizHistoryActivity" android:exported="false" />
        <activity android:name=".CustomQuestionActivity" android:exported="false" />
        <activity android:name=".PairingActivity" android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="lil-orb.pax-kun.com" android:pathPrefix="/app/sign-in" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
