<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name=".WearActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".WearCountdownActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".WearSmoochActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".WearSmoochConfirmActivity" android:exported="true" tools:replace="android:exported" />
    </application>
</manifest>
